{{define "content"}}
<h3>Privacy Policy</h3>
<p><b>Effective Date: </b>7/30/2024</p> 
<br>
<p>This Privacy Policy describes how we collect, use, and disclose personal information when you use the OAuth consent screen provided by Google to log in to our application using your Google mail address. By logging in with your email address, you consent to the practices described in this policy.</p>

<h5>Information We Collect</h5>

<p>When you use the OAuth consent screen to log in to our application using your Google email address, we may collect the following types of personal information:</p>

<ul>
<li>a. Personal Information: We may collect your name, email address, and your profile picture.</li>
</ul>

<h5>Use of Information</h5>

<p>We use the personal information collected through the OAuth consent screen for the following purposes:</p>

<ul>
<li>a. Authentication and Account Access: We use your Google email address to track am2 capture reviews writen by you.</li>

<li>b. Service Provision: We may use the information to provide you with the requested services, including personalized features, support, and updates related to our application.</li>

<li>c. Improvements and Analytics: We may use aggregated and anonymized data for analytical purposes to improve our application, understand user preferences, and optimize our services.</li>
</ul>

<h5>Disclosure of Information</h5>

<p>We do not sell, trade, or otherwise transfer your personal information to third parties without your explicit consent, except in the following circumstances:</p>

<ul>
<li>a. Service Providers: We may share your personal information with trusted third-party service providers who assist us in operating our application and providing services to you. These service providers are contractually obligated to maintain the confidentiality and security of your personal information.</li>

<li>b. Legal Compliance: We may disclose your personal information if required by law, governmental or regulatory authorities, or to protect our rights, property, or safety, or that of our users or the public.</li>
</ul>

<h5>Data Security</h5>
<p>We take reasonable measures to protect the personal information collected through the OAuth consent screen from unauthorized access, use, or disclosure. However, please note that no method of transmission over the internet or method of electronic storage is 100% secure.</p>

<h5>Data Retention</h5>
<p>We retain your personal information for as long as necessary to fulfill the purposes outlined in this Privacy Policy, unless a longer retention period is required or permitted by law.</p>

<h5>Your Rights</h5>
<p>You may have certain rights regarding your personal information, including the right to access, correct, or delete your information. To exercise these rights or if you have any questions or concerns about the processing of your personal information, please contact us using the information provided below.</p>

<h5>Changes to this Privacy Policy</h5>
<p>We may update this Privacy Policy from time to time to reflect changes in our practices or legal requirements. We will notify you of any material changes by posting the updated Privacy Policy on our website or through other communication channels.</p>

<h5>Contact Us</h5>
<p>If you have any questions or concerns about this Privacy Policy or our privacy practices, please contact us at [walterwanderley@gmail.com].</p>

<p>By using the OAuth consent screen provided by Google and logging in with your Google email address, you acknowledge that you have read and understood this Privacy Policy and agree to the collection, use, and disclosure of your personal information as described herein.</p>
{{end}}