<footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Disclaimer</h5>
          <p class="grey-text text-lighten-4">The trademarks were used merely to identify the sound character of the captures.
            If you'd like to safeguard your own captures on this site (because you sell them or whatever), please <a href="https://github.com/walterwanderley/am2manager/issues" target="_blank">create a new issue</a>, and we'll ensure your captures remain protected—for free.
            You'll need to downlad <a href="http://www.cuvave.com/appdownload" target="_blank">M-EFCS software</a> to send captures to your Tank-G or BlackBox device.
            Tank-G and BlackBox are products registered by Sinco Audio Company.</p>
        </div>
        
        <div class="col l3 s12">
          <h5 class="white-text">Partners</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>            
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="https://github.com/walterwanderley/am2manager">WW</a>
      </div>
    </div>
  </footer>