<nav class="light-blue lighten-1" role="navigation">
  <div class="nav-wrapper">
    <a id="logo-container" hx-get="/" hx-push-url="true" hx-target="#main-section" class="brand-logo">Am2Data / Am2</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a hx-get="/" hx-push-url="true" hx-target="#main-section"><i
        class="material-icons left">home</i>Home</a></li>
      <li><a hx-get="/convert-capture" hx-push-url="true" hx-target="#main-section"><i
            class="material-icons left">tune</i>Convert/Tune Captures</a></li>
      <li><a hx-get="/new-capture" hx-push-url="true" hx-target="#main-section"><i
            class="material-icons left">upload</i>Upload Captures</a></li>
      <li><a hx-get="/search-capture" hx-push-url="true" hx-target="#main-section"><i
            class="material-icons left">search</i>Search Captures</a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><a hx-get="/" hx-push-url="true" hx-target="#main-section"><i
    class="material-icons left">home</i>Home</a></li>
  <li><a hx-get="/convert-capture" hx-push-url="true" hx-target="#main-section"><i
        class="material-icons left">tune</i>Convert/Tune Captures</a></li>
  <li><a hx-get="/new-capture" hx-push-url="true" hx-target="#main-section"><i
        class="material-icons left">upload</i>Upload Captures</a></li>
  <li><a hx-get="/search-capture" hx-push-url="true" hx-target="#main-section"><i
        class="material-icons left">search</i>Search Captures</a></li>
</ul>